/* Global Reset and Inheritance */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    text-decoration: none;
}

/* Remove list styles */
ul,
li {
    list-style: none;
}

button {
    border: none;
}

/* Color Variables */
body.light-theme {
    --text: hsl(150, 2%, 15%);
    --text-light: hsl(150, 2%, 30%);
    --background: hsl(228, 56%, 93%);
    --primary: hsl(62, 85%, 45%);
    --accent: hsl(20, 84%, 48%);
    --scroll-bg: hsl(203, 32%, 80%);
    --scroll-thumb: hsl(203, 32%, 60%);
    --scroll-thumb-hover: hsl(203, 32%, 45%);
}

body.dark-theme {
    --text: hsl(150, 2%, 78%);
    --text-light: hsl(150, 2%, 70%);
    --background: hsl(203, 32%, 10%);
    --primary: hsl(62, 85%, 58%);
    --accent: hsl(20, 84%, 52%);
    --scroll-bg: hsl(203, 32%, 20%);
    --scroll-thumb: hsl(203, 32%, 35%);
    --scroll-thumb-hover: hsl(203, 32%, 45%);
}


/* Layout Containers */
.container {
    width: min(100%, 1280px);
    margin-inline: auto;
    padding-inline: 1.5rem;
}

/* Global Body Styling */
body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    scrollbar-width: thin;
    /* Firefox scrollbar width */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 14px;
    height: 0;
    background-color: var(--scroll-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 12px;
    border: 4px solid var(--scroll-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover);
}

/* Back to Top Button */
.btn-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: var(--accent);
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 16px rgb(0 0 0 / 0.2);
    z-index: 1000;
    display: grid;
    place-content: center;
    opacity: 0;
    transform: scale(0);
    border-radius: 50%;
    transition: transform 300ms, opacity 400ms;
}

.btn-up svg {
    transition: transform 300ms;
    transform: translateY(2px);
}

.btn-up:hover svg {
    transform: translateY(0);
}

.btn-up.show {
    opacity: 1;
    transform: scale(1);
}

/* Header Styling */
.header {
    height: 4rem;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-github {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
}

.btn-github:hover {
    border: 1px solid currentColor;
}

/* Hero Section */
.hero {
    min-height: calc(100vh - 4rem);
    display: grid;
    place-content: center;
    text-align: center;
    background: url('../public/hero-image.webp') no-repeat center/cover var(--background);
    background-blend-mode: overlay;
    background-attachment: fixed;
    margin-bottom: 4rem;
    text-wrap: balance;
    /* CSS property for balancing text */
}

.hero__title {
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

.hero__title span {
    color: var(--primary);
}

.hero__description {
    color: var(--text-light);
    font-size: clamp(.875rem, 3vw, 1rem);
}

.hero__description p+p {
    margin-top: 1rem;
}

/* Exercise Copy Button */
.exercise__btn-copy {
    position: absolute;
    background-color: hsl(203, 32%, 10%);
    padding: .35rem .7rem;
    font-size: .75rem;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: .5rem;
    transition: transform 300ms;
}

.exercise__btn-copy:active {
    transform: scale(.95);
}

/* Code Block Styling */
pre {
    position: relative;
    margin-block: 1rem;
}

pre>code {
    color: #ccc;
    font-weight: normal;
    display: block;
    padding: 1.25rem;
    font-family: monospace;
    background-color: #282c34;
    border-radius: 10px;
    cursor: text;
    overflow-x: auto;
}

/* Exercise Spacing */
.exercise+.exercise {
    margin-top: 2.5rem;
}

.exercise>p+p {
    margin-top: 1rem;
    color: var(--text-light);
}

.exercise__title {
    font-weight: 500;
    display: initial;
    padding-left: .5rem;
    cursor: pointer;
}

/* Link Styling */
.link {
    color: var(--accent);
    text-decoration: underline wavy;
}

/* Footer Styling */
.page-footer {
    margin-top: 5rem;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    padding-block: 1.5rem 2.5rem;
    font-size: .875rem;
}

.page-footer::before {
    content: '';
    top: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: .6;
    background: linear-gradient(to left, transparent 10%, var(--primary) 50%, transparent 90%);
}